@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

img {
    display: none;
}

.karobka {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.input {
    .container {
        max-width: 1200px;
        margin: 0 auto;

        .input_title_box {
            display: flex;
            align-items: center;
            justify-content: center;

            .input_title {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                h1 {
                    margin-bottom: 10px;
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 46px;
                    line-height: 56px;
                }

                .input_title_item {
                    span {
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 17px;
                        color: #1A1A1A;
                    }

                    margin-bottom: 44px;
                }
            }
        }

        .input_box {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 29px;
            width: 800px;
            .input_item_act {
                width: 300px;
                height: 108px;
                p {
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                    color: #543FD3;
                    margin-bottom: 6px;
                }

                span {
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                    color: #949494;
                }

                .input_elem {
                    .error {
                        border: 2px solid #EE0004;
                        border-radius: 4px;
                    }
                    input {
                        background: #FFFFFF;
                        border: 2px solid #543FD3;
                        border-radius: 4px;
                        width: 277px;
                        height: 59px;
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 19px;
                        padding-left: 10px;
                        margin-bottom: 6px;
                    }
                }
            }

            .input_item {
                width: 300px;
                height: 108px;
                p {
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                    margin-bottom: 6px;
                }

                span {
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                    color: #949494;
                }

                .input_elem {
                    input {
                        background: #FFFFFF;
                        border: 2px solid #949494;
                        border-radius: 4px;
                        width: 277px;
                        height: 59px;
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 19px;
                        padding-left: 10px;
                        margin-bottom: 6px;
                    }
                }
            }
        }

        .input_btn {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 27px;

            button {
                width: 277px;
                height: 59px;
                background: #4200FF;
                border: 2px solid #4200FF;
                border-radius: 4px;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: #FFFFFF;
            }
        }
    }
}



.red {
    color: red;
}

.black {
    color: black;
}